<a href="https://colab.research.google.com/github/yanikal/python-project/blob/main/Exploratory%20data%20analysis%20with%20Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import pandas as pd
import numpy as np

### Data cleaning

In [ ]:
df = pd.read_csv('/content/adult - adult.csv')

NameError: ignored

In [ ]:
df.head(10)

In [ ]:
df.isnull().sum()

In [ ]:
df.replace("?", np.nan, inplace = True)
df.head(5)

In [ ]:
for column_name in df.columns:
  print(column_name, ':' , df[column_name].unique(), '\n')

In [ ]:
df.isnull().sum()

### 1.How many men and women (sex feature) are represented in this dataset?

In [ ]:

df['gender'].value_counts()

Male      21790
Female    10771
Name: gender, dtype: int64

### 2.What is the average age (age feature) of women?

In [ ]:

df[df['gender'] == 'Female']['age'].mean()

36.85823043357163

### 3.What is the percentage of German citizens (native-country feature)?

In [ ]:
(df[df['native-country'] == 'Germany']['native-country'].count()/df['native-country'].count())*100

0.42841953843267244

### 4.What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) and those who earn less than 50K per year?

In [ ]:
ages1 = df.loc[df['income'] == '>50K', 'age']
ages2 = df.loc[df['income'] == '<=50K', 'age']
print("The average age of the rich: {0} +- {1} years, poor - {2} +- {3} years.".format(round(ages1.mean()), round(ages1.std(), 1),round(ages2.mean()), round(ages2.std(), 1)))

The average age of the rich: 44 +- 10.5 years, poor - 37 +- 14.0 years.

In [ ]:
print('Income : <==50K')
print('Mean', df[df['income'] =='<=50K']['age'].mean())
print('STD',df[df['income'] =='<=50K']['age'].std())
print(' ')
print('Income : >50K')
print('Mean', df[df['income'] !='<=50K']['age'].mean())
print('STD',df[df['income'] !='<=50K']['age'].std())

Income : <==50K
Mean 36.78373786407767
STD 14.02008849082488

Income : >50K
Mean 44.24984058155847
STD 10.519027719851826

### 5.Is it true that people who earn more than 50K have at least a high school education? (education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

In [ ]:

df.loc[df['income'] == '>50K', 'education'].value_counts()

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

In [ ]:
# It's false, however, if you finish High School you have more chances to earn more than 50k

### 6.Display age statistics for each race (race feature) and each gender (sex feature). Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

In [ ]:

df.groupby(['race', 'gender'])['age'].max()

race                gender
Amer-Indian-Eskimo  Female    80
                    Male      82
Asian-Pac-Islander  Female    75
                    Male      90
Black               Female    90
                    Male      90
Other               Female    74
                    Male      77
White               Female    90
                    Male      90
Name: age, dtype: int64

In [ ]:
raceData = df.iloc[:,[0,8]]
genderData = df.iloc[:,[0,9]]

In [ ]:
race_group = raceData.groupby('race')
print(race_group.describe())

                        age                                                \
                      count       mean        std   min   25%   50%   75%
race
Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0


                     max
race
Amer-Indian-Eskimo  82.0
Asian-Pac-Islander  90.0
Black               90.0
Other               77.0
White               90.0

In [ ]:
gender_group = genderData.groupby('gender')
print(gender_group.describe())

            age
          count       mean        std   min   25%   50%   75%   max
gender
Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0
Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0

### 7.Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [ ]:
df['marital-status'].unique()
mapping={'Never-married':'Bachelor', 'Divorced':'Bachelor','Separated':'Bachelor','Widowed':'Bachelor','Married-civ-spouse':'Married',
        'Married-spouse-absent':'Married','Married-AF-spouse':'Married'}

df['status'] = df['marital-status'].map(mapping)

df[(df['gender'] == 'Male') & (df['income'] == '>50K')]['status'].value_counts() #Considering the gender

Married     5965
Bachelor     697
Name: status, dtype: int64

### 8. What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [ ]:
max_load = df['hours-per-week'].max()
print("Max time - {0} hours./week.".format(max_load))

num_workaholics = df[df['hours-per-week'] == max_load].shape[0]
print("Total number of such hard workers {0}".format(num_workaholics))

rich_share = float(df[(df['hours-per-week'] == max_load)
                 & (df['income'] == '>50K')].shape[0]) / num_workaholics
print("Percentage of rich among them {0}%".format(int(100 * rich_share)))

Max time - 99 hours./week.
Total number of such hard workers 85
Percentage of rich among them 29%

### 9.Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). What will these be for Japan?

In [ ]:
for (country, salary), sub_df in df.groupby(['native-country', 'income']):
    print(country, salary, round(sub_df['hours-per-week'].mean(), 2))

Cambodia <=50K 41.42
Cambodia >50K 40.0
Canada <=50K 37.91
Canada >50K 45.64
China <=50K 37.38
China >50K 38.9
Columbia <=50K 38.68
Columbia >50K 50.0
Cuba <=50K 37.99
Cuba >50K 42.44
Dominican-Republic <=50K 42.34
Dominican-Republic >50K 47.0
Ecuador <=50K 38.04
Ecuador >50K 48.75
El-Salvador <=50K 36.03
El-Salvador >50K 45.0
England <=50K 40.48
England >50K 44.53
France <=50K 41.06
France >50K 50.75
Germany <=50K 39.14
Germany >50K 44.98
Greece <=50K 41.81
Greece >50K 50.62
Guatemala <=50K 39.36
Guatemala >50K 36.67
Haiti <=50K 36.33
Haiti >50K 42.75
Holand-Netherlands <=50K 40.0
Honduras <=50K 34.33
Honduras >50K 60.0
Hong <=50K 39.14
Hong >50K 45.0
Hungary <=50K 31.3
Hungary >50K 50.0
India <=50K 38.23
India >50K 46.48
Iran <=50K 41.44
Iran >50K 47.5
Ireland <=50K 40.95
Ireland >50K 48.0
Italy <=50K 39.62
Italy >50K 45.4
Jamaica <=50K 38.24
Jamaica >50K 41.1
Japan <=50K 41.0
Japan >50K 47.96
Laos <=50K 40.38
Laos >50K 40.0
Mexico <=50K 40.0
Mexico >50K 46.58
Nicaragua <=50K 36.09
Nicaragua >50K 37.5
Outlying-US(Guam-USVI-etc) <=50K 41.86
Peru <=50K 35.07
Peru >50K 40.0
Philippines <=50K 38.07
Philippines >50K 43.03
Poland <=50K 38.17
Poland >50K 39.0
Portugal <=50K 41.94
Portugal >50K 41.5
Puerto-Rico <=50K 38.47
Puerto-Rico >50K 39.42
Scotland <=50K 39.44
Scotland >50K 46.67
South <=50K 40.16
South >50K 51.44
Taiwan <=50K 33.77
Taiwan >50K 46.8
Thailand <=50K 42.87
Thailand >50K 58.33
Trinadad&Tobago <=50K 37.06
Trinadad&Tobago >50K 40.0
United-States <=50K 38.8
United-States >50K 45.51
Vietnam <=50K 37.19
Vietnam >50K 39.2
Yugoslavia <=50K 41.6
Yugoslavia >50K 49.5

###  10.Find out the total number of hours worked and mean salary as per different occupations.

In [ ]:

df.groupby(['occupation'])[['hours-per-week']].sum()

                   hours-per-week
occupation
Adm-clerical               141595
Armed-Forces                  366
Craft-repair               173405
Exec-managerial            182920
Farming-fishing             46708
Handlers-cleaners           51988
Machine-op-inspct           81593
Other-service              114342
Priv-house-serv              4900
Prof-specialty             175481
Protective-serv             27823
Sales                      148851
Tech-support                36593
Transport-moving            71316

In [ ]:
x = df.groupby(['native-country'])[['hours-per-week']].sum().reset_index()
x.T

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
native-country,Cambodia,Canada,China,Columbia,Cuba,Dominican-Republic,Ecuador,El-Salvador,England,France,...,Portugal,Puerto-Rico,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia
hours-per-week,777,4889,2834,2305,3720,2973,1108,3900,3765,1307,...,1550,4397,495,3393,1983,818,710,1179861,2502,713

In [ ]:
df.groupby(['occupation'])[['fnlwgt']].mean()

occupation
Adm-clerical         192043.396286
Armed-Forces         215425.888889
Craft-repair         192132.599658
Exec-managerial      184414.012543
Farming-fishing      170190.176056
Handlers-cleaners    204391.006569
Machine-op-inspct    195040.877622
Other-service        188608.452200
Priv-house-serv      201107.523490
Prof-specialty       185296.613285
Protective-serv      202039.953775
Sales                190885.892055
Tech-support         192098.301724
Transport-moving     190366.355041
Name: fnlwgt, dtype: float64